<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="./index">Домой</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="./addsotr">Добавить сотрудника</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="./shtat">Штатное расписание</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="./spisoksotr">Список сотрудников</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="./koldog">Коллективный договор</a>
        </nav>
    </div>
</div>